---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: goldilocks
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: '10'
spec:
  project: <PROJECT>
  source:
    repoURL: 'https://charts.fairwinds.com/stable'
    targetRevision: 6.5.6
    chart: goldilocks
  destination:
    name: <CLUSTER_DESTINATION>
    namespace: goldilocks
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
