---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  annotations:
    argocd.argoproj.io/sync-wave: '10'
  name: prometheus-<ENVIRONMENT>
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  destination:
    namespace: prometheus
    name: <CLUSTER_DESTINATION>
  project: <PROJECT>
  source:
    chart: prometheus
    repoURL: https://prometheus-community.github.io/helm-charts
    targetRevision: 22.6.6
    helm:
      releaseName: my-prometheus
      values: |
        alertmanager:
          enabled: false
        extraScrapeConfigs: |-
          - job_name: opencost
            honor_labels: true
            scrape_interval: 1m
            scrape_timeout: 10s
            metrics_path: /metrics
            scheme: http
            dns_sd_configs:
            - names:
              - opencost.opencost
              type: 'A'
              port: 9003
        prometheus-pushgateway:
          enabled: false
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
