---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: <CLUSTER_NAME>-flappy-kray
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
  annotations:
    catalog.konstruct.io/name: 'flappy-kray'
    argocd.argoproj.io/sync-wave: '0'
spec:
  destination:
    namespace: flappy-kray
    name: <CLUSTER_DESTINATION>
  source:
    repoURL: 'https://charts.kubefirst.com'
    targetRevision: 0.1.0
    chart: flappy-kray
    helm:
      values: |
        image:
          repository: ghcr.io/konstructio/flappy-kray
        ingress:
          enabled: false
  project: <PROJECT>
  syncPolicy:
    syncOptions:
      - CreateNamespace=true
    automated:
      prune: true
      selfHeal: true
