---
# Note for the installation
#
# This application needs 2 adjustments to work:
#   1. Create a pull request to add a new OIDC client named GitLab, so the secrets are available in Vault.

#   in your `gitops` repo, add the following content to the file `/terraform/vault/oidc-clients.tf`.
#   be sure to uncomment and also change <YOUR_DOMAIN> to your actual domain (eg. example.com):
###################################################################################################
# module "gitlab" {
#   source = "./modules/oidc-client"
# 
#   depends_on = [
#     vault_identity_oidc_provider.kubefirst
#   ]
# 
#   app_name               = "gitlab"
#   identity_group_ids     = [vault_identity_group.admins.id, vault_identity_group.developers.id]
#   oidc_provider_key_name = vault_identity_oidc_key.key.name
#   redirect_uris = [
#     "https://gitlab.<YOUR_DOMAIN>/users/auth/openid_connect/callback",
#   ]
#   secret_mount_path = "secret"
# }
###################################################################################################

#   2. Adjust the 3 instances of <DOMAIN_NAME> below with your domain name (eg. example.com)
#
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: gitlab
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
  annotations:
    argocd.argoproj.io/sync-wave: '10'
spec:
  destination:
    server: https://kubernetes.default.svc
    namespace: gitlab
  project: default
  source:
    repoURL: 'https://charts.gitlab.io'
    targetRevision: 7.7.3
    chart: gitlab
    helm:
      values: |-
        global:
          registry:
            enabled: false
          appConfig:
            omniauth:
              enabled: true
              # autoSignInWithProvider: openid_connect
              syncProfileFromProvider: true
              syncProfileAttributes: [openid, email, profile]
              allowSingleSignOn: [openid_connect]
              autoLinkUser: true
              providers:
              - secret: gitlab-vault-oidc
            defaultProjectsFeatures:
              containerRegistry: false
          hosts:
            domain: <DOMAIN_NAME>
          ingress:
            configureCertmanager: false
            provider: nginx
            class: nginx
            annotations:
              kubernetes.io/tls-acme: true
              cert-manager.io/cluster-issuer: "letsencrypt-prod"
            tls:
              enabled: true
              secretName: gitlab-tls
        gitlab:
          sidekiq:
            enabled: false
            registry:
              enabled: false
          unicorn:
            registry:
              enabled: false
          # https://docs.gitlab.com/charts/installation/command-line-options.html#tls-configuration
          webservice:
            registry:
              enabled: false
            ingress:
              provider: nginx
              class: nginx
              annotations:
                kubernetes.io/tls-acme: true
                cert-manager.io/cluster-issuer: "letsencrypt-prod"
              tls:
                enabled: true
                secretName: gitlab-webservice-tls
        webservice:
          registry:
            enabled: false
        certmanager-issuer:
          email: alerts@kubefirst.io
        upgradeCheck:
          enabled: false
        certmanager:
          installCRDs: false
          install: false
        nginx-ingress:
          enabled: false
        registry:
          enabled: false
        # add on later
        gitlab-runner:
          install: false
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true

---
apiVersion: v1
kind: ConfigMap
metadata:
  name: gitlab-vault-oidc-template
  namespace: gitlab
  annotations:
    argocd.argoproj.io/sync-wave: "30"
data:
  provider: |
    name: openid_connect
    label: Vault
    icon: https://www.pngitem.com/pimgs/m/329-3299659_hashicorp-vault-logo-hd-png-download.png
    args:
      name: openid_connect
      scope:
        - openid
        - profile
        - email
        - groups
      response_type: code
      issuer: https://vault.<DOMAIN_NAME>/v1/identity/oidc/provider/kubefirst
      client_auth_method: basic
      discovery: true
      uid_field: email
      client_options:
        identifier: "{{ .client_id }}"
        secret: "{{ .client_secret }}"
        redirect_uri: https://gitlab.<DOMAIN_NAME>/users/auth/openid_connect/callback
---
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: gitlab-vault-oidc-template
  namespace: gitlab
  annotations:
    argocd.argoproj.io/sync-wave: "31"
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: vault-kv-secret
  target:
    name: gitlab-vault-oidc
    template:
      engineVersion: v2
      templateFrom:
        - configMap:
            # name of the configmap to pull in
            name: gitlab-vault-oidc-template
            # here you define the keys that should be used as template
            items:
              - key: provider
  data:
    - secretKey: client_id
      remoteRef:
        key: /oidc/gitlab
        property: client_id
    - secretKey: client_secret
      remoteRef:
        key: /oidc/gitlab
        property: client_secret
