kind: Application
metadata:
  name: <CLUSTER_NAME>-supabase
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  destination:
    namespace: supabase
    name: <CLUSTER_DESTINATION>
  project: <PROJECT>
  source:
    chart: supabase
    repoURL: https://charts.bitnami.com/bitnami
    targetRevision: 5.2.7
    helm:
      releaseName: my-supabase
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
