apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: polaris
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: '10'
spec:
  project: default
  source:
    repoURL: 'https://charts.fairwinds.com/stable'
    targetRevision: 5.7.6
    chart: polaris
  destination:
    server: 'https://kubernetes.default.svc'
    namespace: polaris
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
