---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: polaris-<ENVIRONMENT>
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: '10'
spec:
  project: <PROJECT>
  source:
    repoURL: 'https://charts.fairwinds.com/stable'
    targetRevision: 5.7.6
    chart: polaris
  destination:
    name: <CLUSTER_DESTINATION>
    namespace: polaris
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
